.tooltip-container {
  position: relative;
}

.tooltip_inner {
  padding: 6px 8px;
  color: #fff;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  position: absolute;
  bottom: 1.5em;
}

.count {
  margin-left: 7px;
  font-size: 0.8rem;
}
