@import "./normalize.css";

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  /* margin-top: 1.5em; */
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.dashboard {
  max-width: 1080px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard > .left {
}

.dashboard > .content {
}

.dashboard > .right {
}
