.tweet-button {
  font-size: 0.8rem;
  border-radius: 40px;
  height: 30px;
  font-weight: 600;
  width: 66px;
  background-color: #fea0a0a3;
  border-color: #fea0a0a3;
  color: #f98591;
}

.tweet-button:hover {
  cursor: pointer;
}
