ol {
  padding: 0;
}

.dashboard_content {
  width: 490px;
}

.dashboard_content_main {
  width: 100%;
  margin: 0 20px;
}

.stream-tweet {
  min-height: 50px;
  color: grey;
  font-size: 0.8rem;
}

.stream_tweet_content {
  background-color: #fff;
}

.item-container > p,
.item-footer {
  padding-left: 55px;
}

.content > ol > li {
  list-style-type: none;
}

.avatar {
  float: left;
}

.icon-container {
  display: inline-block;
  position: relative;
}

.item-header {
  padding: 10px;
}

.item-footer {
  margin-top: 20px;
}
.item-footer > .each-footer > button {
  border: none;
}

.each-footer {
  display: inline-block;
  width: 102px;
}
