.tweet-box {
  background-color: #f5c8d563;
  margin: 0 20px;
  padding: 20px 10px;
  width: 100%;
}

.tweet-box > .avatar {
  position: absolute;
  margin-top: 18px;
  margin-left: 15px;
}

.tweet-form {
  width: calc(100% - 100px);
  margin-left: 74px;
}

.tweet-form > .content {
  border: 1px solid #f5c8d5;
  border-radius: 5px;
  height: 81px;
}

.content_focus_before {
}

.content_focus_after {
}
.toolbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbox > .items {
  display: flex;
  width: 50%;
  height: 50px;
}

.toolbox > .items > span {
  /* Magic ! */
  margin: auto;
}

.add-tweet-btn {
  padding-right: 20px;
}

.add-tweet-btn > button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
