.tweet_box {
  background-color: #f5c8d5c7;
  margin: 0 20px;
  padding: 20px 10px;
  width: 100%;
}

.tweet-form {
  width: calc(100% - 100px);
  margin-left: 74px;
}

.tweet-form > .content {
  border: 1px solid #f5c8d5;
  border-radius: 5px;
  height: 81px;
}

.toolbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
}

.toolbox > .items {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.add-tweet-btn {
  padding-right: 20px;
}

.add-tweet-btn > button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.tweet_box_before {
  position: relative;
}

.tweet_box_after {
  padding-left: 40px;
}

.content_focus_before {
  width: 91%;
  margin-left: 15px;
  height: 40px;
  font-size: 1 rem;
  border-radius: 8px;
  border: 1px solid #f5c8d5;
  font-size: 0.9rem;
}

.content_focus_after {
  width: 100%;
  overflow: auto;
  height: 80px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.upload_image {
  position: absolute;
  right: 20px;
  top: 3px;
}

.upload {
  display: none;
}

.avatar {
  padding-top: 0.2em;
}
